* {
  box-sizing: border-box;
}

body {
  background-color: #414e55;
  font-family: sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1,
h2 {
  margin: 0;
}
